$date-picker-bg: rgba(11, 12, 16, 0.8);
.time-text {
  margin-right: 0.1rem;
  color: $star-color;
}
.select-wrapper {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0.8rem;
  margin-right: 0.2rem;
  select.custom-dropdown {
    background-color: $date-picker-bg;
    border: 1px solid lighten($date-picker-bg, 30%);
    height: 2rem;
    color: lighten($date-picker-bg, 30%);
    font-size: inherit;
    padding: 0.5em 1.3rem 0.5rem 0.5rem;
    border-radius: 3px;
    text-indent: 0.01px;
    text-overflow: '';
    appearance: none;
    cursor: pointer;
    &::-ms-expand {
      /*Hiding the select arrow for IE10*/
      display: none;
    }
    &:hover {
      color: $star-color;
      border-color: $star-color;
    }
  }
  &::before,
  &::after {
    content: '';
    position: absolute;
    pointer-events: none;
  }
  &::after {
    /*  Custom dropdown arrow */
    color: lighten($date-picker-bg, 30%);
    content: '\25BC';
    font-size: 0.6rem;
    right: 7px;
    top: 35%;
  }

  &:hover::after {
    color: $star-color;
  }
}
