@function multiple-box-shadow($n) {
  $value: '#{random(2000)}px #{random(2000)}px  #66fcf1';
  @for $i from 2 through $n {
    $value: '#{$value} , #{random(2000)}px #{random(2000)}px  #66fcf1';
  }
  @return unquote($value);
}

$shadows-small: multiple-box-shadow(600);
$shadows-medium: multiple-box-shadow(300);
$shadows-big: multiple-box-shadow(200);

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-small;
  animation: animStar 100s linear infinite;

  // &:after {
  //   content: ' ';
  //   position: absolute;
  //   top: 2000px;
  //   width: 1px;
  //   height: 1px;
  //   background: transparent;
  //   box-shadow: $shadows-small;
  // }
}

#stars2 {
  width: 2px;
  height: 2px;
  border-radius: 2px;
  background: transparent;
  box-shadow: $shadows-medium;
  animation: animStar 170s linear infinite;

  // &:after {
  //   content: ' ';
  //   position: absolute;
  //   top: 2000px;
  //   width: 2px;
  //   height: 2px;
  //   border-radius: 2px;
  //   background: transparent;
  //   box-shadow: $shadows-medium;
  // }
}

#stars3 {
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background: transparent;
  box-shadow: $shadows-big;
  animation: animStar 450s linear infinite;

  // &:after {
  //   content: ' ';
  //   position: absolute;
  //   top: 2000px;
  //   width: 4px;
  //   height: 4px;
  //   border-radius: 2px;
  //   background: transparent;
  //   box-shadow: $shadows-big;
  // }
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
