<div class="seconds">
  {{ seconds }}
</div>
<div class="info">
  <p>
    seconds since {{ fromDate }}
  </p>
  <small>
    Your 1 billionth second {{ tense }} on {{ billionthSecondDay }}!
  </small>
</div>
