@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Share+Tech+Mono&display=swap');

@import './components/reset.css';
@import './components/layout.css';
@import './components/seconds.css';
@import './components/modal.css';
@import './components/date-picker.css';
@import './components/animations.css';

:root {
  --dark-bg: rgba(11, 12, 16, 0.8);
  --dark-bg-lighter: rgba(87, 90, 96, 0.8);
  --dark-bg-hover: rgba(49, 52, 58, 0.8);
}
